@import "../color/mixin";
@import "../config/mixin";
@import "variable";
@import "../icon/variable";
@import "../font/mixin";

:host {
	margin: $button-paper--margin;
	display: flex;
}
//
// Button container
//
.button{
	height: $button-paper--height;
	padding: $button-paper--padding;
	min-width: $button-paper--min-width;
	border: 0;
	cursor: pointer;
	position: relative;
	line-height: $button-paper--lineHeight;
	text-align: center;
	@include palletBackground('white');
	@include display(inline-block);

	@include build-font('button');

	&:last-of-type{
		margin-right: $button-paper--margin;
	}

	@include box-sizing();
}

//
// Make appearance of button flat as given in spec.
//
.button--type-flat{
	background: transparent;
}

//
// Add elevation to button and make it raise.
//
.button--type-raised{
	@include elevation($button-paper--raised-elevation);
	border-radius:2px;
	padding: $button-paper--padding ($button-paper--padding*2);
	@include background-hover($color--light);
	&:hover{
		@include elevation($button-paper--raised-hover-elevation);
	}
}

//
// Fab button.
//
.button--type-fab{
	border-radius: 50%;
	min-width: $button-paper-fab--radius;
	min-height: $button-paper-fab--radius;
	padding:0;
	@include elevation($button-paper--fab-elevation);

	&:hover{
		@include elevation($button-paper--fab-hover-elevation);
	}
}


//
// Reduced FAB button.
//
.button-fab--small{
	min-width: $icon-dimension+px;
	min-height: $icon-dimension+px;
	padding: 0;
}


//
// Enlarge FAB button.
//
.button-fab--large{
	min-width: $button-paper-fab--radius;
	min-height: $button-paper-fab--radius;
	padding: ($button-paper--padding/2) 0;
}

//
// FAB button content holder.
//
.button-fab-content{
	width: $button-paper-content--fab--width;
}


//
// Disabled button style.
//
.button--disable{
	color: darken($color--light, 26%);
	background: darken($color--light, 12%);
	cursor: not-allowed;

	&:hover{
		background: darken($color--light, 12%);
		@include box-shadow();
	}
}

//
// Button content holder.
//
.button-content{
	width: 100%;
	margin-top: $button-paperSheet--topMargin;
}
