<link rel='import' href="../lib/base-element.html"/>
<link rel='import' href="button.tpl.html" id="button-tpl"/>
<link rel='import' href='button.style.html' id='button-style'/>
<script>
'use strict'

/**
 * @module element
 * @name PaperElement
 *
 * @description
 * Material design button element built using web component customer element.
 *
 */
class PaperButton extends BaseElement {

  constructor() {
    super();
    this.templateId = 'button';
  }

  connectedCallback() {
    super.connectedCallback();
  }

  disconnectedCallback() {

  }

  onClick(){
    console.log('button clicked');
  }

}

window.customElements.define('paper-button', PaperButton);
</script>
