<style>.button-paper {
  height: 36px;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 0;
  padding: 8px;
  min-width: 64px;
  border: 0;
  cursor: pointer;
  position: relative;
  line-height: 24px;
  text-align: center;
  background: var(--primary-color, #FFF);
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button-paper:last-of-type {
  margin-right: 6px;
}

.button-paper-flat {
  background: transparent;
}

.button-paper-raised {
  box-shadow: 0 1px 3px #777;
  -webkit-box-shadow: 0 1px 3px #777;
  -moz-box-shadow: 0 1px 3px #777;
  border-radius: 2px;
  padding: 8px 16px;
}

.button-paper-raised:hover {
  background: var(--primary-color, #FFF);
}

.button-paper-raised:hover {
  box-shadow: 0 3px 3px #5e5e5e;
  -webkit-box-shadow: 0 3px 3px #5e5e5e;
  -moz-box-shadow: 0 3px 3px #5e5e5e;
}

.button-paper-fab {
  border-radius: 50%;
  min-width: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 1px 3px #777;
  -webkit-box-shadow: 0 1px 3px #777;
  -moz-box-shadow: 0 1px 3px #777;
}

.button-paper-fab:hover {
  box-shadow: 0 3px 3px #5e5e5e;
  -webkit-box-shadow: 0 3px 3px #5e5e5e;
  -moz-box-shadow: 0 3px 3px #5e5e5e;
}

.button-paper-fab--small {
  min-width: 48px;
  min-height: 48px;
  padding: 0;
}

.button-paper-fab--large {
  min-width: 56px;
  min-height: 56px;
  padding: 4px 0;
}

.button-paper-fab-content {
  width: 24px;
}

</style>
