<link rel='import' href="../lib/base-element.html"/>
<link rel='import' href="button.tpl.html" id="button-tpl"/>
<link rel='import' href='button.style.html' id='button-style'/>
<script>
'use strict'

class PaperButton extends BaseElement {

  constructor() {
    super();
    this.currentDocument = null;
    this.templateId = 'button';
  }

  connectedCallback() {
    super.connectedCallback();
  }

  disconnectedCallback() {

  }


}

window.customElements.define('paper-button', PaperButton);
</script>
