<link rel="import" href="button.html"/>

<template id="paper-button-fab-template">
  <style>
  .button-paper-fab {
  border-radius: 50%;
  min-width: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 1px 3px #777;
  -webkit-box-shadow: 0 1px 3px #777;
  -moz-box-shadow: 0 1px 3px #777;
}

.button-paper-fab:hover {
  box-shadow: 0 3px 3px #5e5e5e;
  -webkit-box-shadow: 0 3px 3px #5e5e5e;
  -moz-box-shadow: 0 3px 3px #5e5e5e;
}
  </style>

  <div class="button-paper-fab">
    <content></content>
  </div>
</template>

<script>
  class PaperButtonFab extends PaperButton{
    constructor(){
      super();
    }

    connectedCallback() {
      super.connectedCallback();
      var currentDocument = document.currentScript.ownerDocument;
      var template = currentDocument.querySelector("#paper-button-fab-template");

  //    this.clone = document.importNode(template.content,  true);
  //    clone = clone.concat(super.clone);
      this.createShadowRoot().appendChild(this.clone);
    }
  }

  window.customElements.define('paper-button-fab', PaperButtonFab);
</script>
