@import "../color/mixin";
@import "variable";
@import "../config/function";

@mixin icon-margin($dimension, $size){
   $value : element-offset($dimension, $size );
   margin: $value;
}

:host{
      display: flex;
}

.icon{
	   cursor: pointer;
      //@extend .font-icon;
      @include get-paper-fill('icon', 'light');

}

.icon--theme-light {
 @include get-paper-fill('icon', 'light');
}

.icon--theme-dark{
 @include get-paper-fill('icon', 'dark');
}

.icon--size-small{
   width: $icon--sizeSmall;
   height: $icon--sizeSmall;
   @include icon-margin($icon-dimension, $icon--sizeSmall);

}

.icon--size-large{
   width: $icon--sizeLarge;
   height: $icon--sizeLarge;
   @include icon-margin($icon-dimension, $icon--sizeLarge);
}


.icon__avatar{
   width: $icon-avatar--size;
   height: $icon-avatar--size;
   background : #009688;
   @include icon-margin($icon-dimension, $icon-avatar--size);
   @include display();
   border-radius: 50%;
}

.icon__avatar--small{
   width: $icon-avatar-small--size;
   height: $icon-avatar-small--size;
}

